body{
margin: 0px;
background-color: antiquewhite;
}

h1 {
    font-style: italic;
    color: black;
    text-align: center;
    
}
p {
    font-weight: 200;
    font-style: oblique;
    font-weight: bolder;
}
.card-title{
    text-align: center;
}

.myPicture{
    background-color: antiquewhite;
    margin: 0%;
}

.contact{
    text-align: center;
}